<h1>Representatives</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for representative in @representatives %>
    <tr>
      <td><%=h representative.name %></td>
      <td><%=h representative.description %></td>
      <td><%= link_to "Show", representative %></td>
      <td><%= link_to "Edit", edit_representative_path(representative) %></td>
      <td><%= link_to "Destroy", representative, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Representative", new_representative_path %></p>
