<%= simple_form_for @user, :html => {:multipart => true} do |f| %>
  <p><%= f.input :resume, hint: (t :resume_hint) , as: :text,  :input_html => {  :cols => 255, :rows=> 10 }%></p>
  <p><%= f.input :languages, hint:  (t :languages_hint) %></p>
  <p><%= f.input :education, label: (t :education_label) %></p>
  <p><%= f.file_field :profile_picture %></p>
  <p><%= f.hidden_field :profile_picture_cache %></p>
  <p><%= f.button :submit %></p>
<% end %>