<%= form_for @user, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.file_field :profile_picture %>
    <%= f.hidden_field :profile_picture_cache %>
  </p>
  <p>
    <%= f.label :resume %><br />
    <%= f.text_field :resume %>
  </p>
  <p>
    <%= f.label :languages %><br />
    <%= f.text_field :languages %>
  </p>
  <p>
    <%= f.label :education %><br />
    <%= f.text_field :education %>
  </p>  
  <p><%= f.submit %></p>
<% end %>