<article class="proposal" id="proposal_<%= proposal.id %>">
  <section class="proposal-content">
    <header>
      <hgroup>
        <h2 class="title"><%= link_to awesome_truncate(proposal.title, 150), proposal %></h2>
        <h3>
          Presentado por: <%= link_to proposal.proposer.name, proposal.proposer, :class => "proposer" %>
          el <span class="proposed_at"><%= l proposal.proposed_at, :format => :long %></span>
        </h3>
      </hgroup>
    </header>
  </section>
  <span class="decorate up"></span>
  

  <p class="<%= css_for_vote(@user, proposal) %>"><%= humanize_vote_text(@user, proposal) %></p>
  
   <section class="vote-results documents-list">
      <dl>
        <dt><strong>Votación popular</strong></dt>
        <dd>
          <%= render :partial => "shared/results", :locals => {:proposal => proposal, :width => 20} %>
        </dd>
      </dl>
    </section>

</article>

