<article class="proposal" id="user_<%= user.id %>">
  <section class="proposal-content">
    <header>
      <hgroup>
        <h2 class="title"><%= link_to user.name, user %></h2><%= user.email %>
        <h3>
          A votado sobre <strong><%= user.votes.count %></strong> propuestas
          <span class="proposed_at">something else</span>
        </h3>
      </hgroup>
    </header>
  </section>

    <section class="voters">
      <% if current_spokesman?(user) %>
        <%= link_to user, :class => "fire-spokesman-large" do %>
          <strong>Destituir</strong>
          a mi representante
        <% end %>
      <% else %>
      <%= link_to user, :class => "choose-spokesman-large" do %>
        <strong>Elige!</strong>
        <%= who_has_delegated?(user) %>
      <% end %>
    </section>
    <% end %>
  <span class="decorate up"></span>
</article>