<!-- refactor styles -->
<h2 style="margin-left:40px"><%= t(:sign_up)%></h2>

<%= form_for @user, :url => users_path do |f| %>
<%= f.error_messages %>

<fieldset id="login-section">

  <div class="overlayfield">
    <%= f.label :login, "<span>#{t(:username)}</span>".html_safe %>
    <%= f.text_field :name %>
  </div>

  <div class="overlayfield">
    <%= f.label :password, "<span>#{t(:password)}</span>".html_safe %>
    <%= f.password_field :password %>
  </div>

  <div class="overlayfield">
    <%= f.label :password_confirmation, "<span>#{t(:password_confirmation)}</span>".html_safe %>
    <%= f.password_field :password_confirmation %>
  </div>

</fieldset>

<fieldset>

  <div class="overlayfield">
    <%= f.label :email, "<span>#{t(:email)}</span>".html_safe %>
    <%= f.text_field :name %>
  </div>

</fieldset>

<p class="actions">
  <button type="submit" class="confirm"><span><%= t(:sign_up)%></span></button>
</p>
<% end %>

