<% @title = "#{@user.login}" %>
<section id="content">
  <ul id="breadcrumb">
    <li><a href="/">Inicio »</a></li>
    <li><%= link_to "Proposiciones", proposals_path %></li>
    <li><%= link_to "Usuari@s", users_path %></li>
  </ul>
  
  <% if current_user && current_user.spokesman == @user %>
    <% form_for @user, :url => discharge_as_spokesman_user_path(@user) do |f| -%>
       <%= submit_tag "Destituir a #{h @user.login} de ser mi portavoz", :id => "discharge_spokesman_button", :class => "discharge-my-spokesman" %>
     <% end -%>
  <% else %>
    <% unless current_user == @user %>
      <% form_for @user, :url => choose_as_spokesman_user_path(@user) do |f| -%>
        <%= submit_tag "Elegir a #{h @user.login} como mi portavoz", :id => "choose_spokesman_button", :class => "make-my-spokesman" %>
      <% end -%>
    <% end %>
  <% end %>  
  
  <%= render :partial => "proposal", :collection => @proposals %>
</section>

