<ul>
  <% Vote.choices.each do |choice| %>
    <li class="<%= choice %>">
      <%= choice_result(proposal, choice) %>
      <span class="vote_percentage"><%= percentage_for(proposal, choice) %></span>
      <span class="vote_count"><%= proposal.total(choice)%> <%= t(:votes) %></span>
    </li>
  <% end %>
</ul>