<ul class="list-graphic">
  <% Vote.choices.each do |choice| %>
    <li class="list-graphic__result <%= choice %>">
      <%= choice_result(proposal, choice) %>
      <small class="vote-percentage"><%= percentage_for(proposal, choice) %></small>
      <small class="vote-count"><%= proposal.total(choice)%> <%= t(:votes) %></small>
    </li>
  <% end %>
</ul>