<section id="welcome">
  <p>
    <h2><%= t(:hello)%></h2>
    <p><%= t(:intro_paragraph)%></p> 
    <p><%= t :whats_agora_html, :href => link_to(APP_CONFIG['org_name'], APP_CONFIG['org_url']) %>
  </p>
</section>
<img src="/images/explain.png" width="951" height="33" alt="Explain"/>
<section id="content">
  <nav id="nav">
    <ul>
      <li><%= link_to t(:hot), "#hot_proposals", :id => "hot_proposals_link", :class => "navlinks" %></li>
      <li><%= link_to t(:recently_closed), "#recently_closed", :id => "recently_closed_link", :class => "navlinks" %></li>
	   <li><%= link_to t(:users), users_path %></li>
    </ul>
  </nav>  
  <section id="hot_proposals" class="proposals">
    <header class="proposal-head">
      <h2><%= t(:hottest)%></h2>
      <p><%= t(:hottest_paragraph)%></p>
    </header>
    <%= render :partial => 'shared/proposal', :collection => @hot %>
  </section>
  
  <section id="recently_closed" class="proposals">
    <header class="proposal-head">
      <h2><%= t(:recently_closed) %></h2>
      <p><%= t(:recently_closed_paragraph)%></p>
    </header>
    <%= render :partial => 'shared/proposal', :collection => @recently_closed %>
  </section>
</section>