<section id="welcome">
  <p>
    <h2>Hola!</h2>
    <p>Rediseñar la democracia" es la propuesta detrás de populo.</p> 
    <p>¿Qué pasaría si los ciudadanos pudieran participar de manera más directa en las decisiones que se toman en las Cortes Generales?" es el experimento detrás de la propuesta. Populo es una aplicación web en la los ciudadanos pueden navegar por las distintas iniciativas en tramite en las Cortes Generales y, eventualmente, emitir votos.</p>
</section>
<img src="/images/explain.png" width="951" height="33" alt="Explain"/>
<section id="content">
  <nav id="nav">
    <ul>
      <li><%= link_to "Hot!", "#hot_proposals", :id => "hot_proposals_link", :class => "navlinks" %></li>
      <li><%= link_to "Recién tramitadas", "#recently_closed", :id => "recently_closed_link", :class => "navlinks" %></li>
	  <li><%= link_to "Usuarios", users_path %></li>
    </ul>
  </nav>  
  <section id="hot_proposals" class="proposals">
    <header class="proposal-head">
      <h2>Lo más hot!</h2>
      <p>Las propuestas más visitadas o las más votadas. Vota y da tu opinión ahora que todavía estás a tiempo.</p>
    </header>
    <%= render :partial => 'proposals/proposal', :collection => @hot_proposals %>
  </section>
  
  <section id="recently_closed" class="proposals">
    <header class="proposal-head">
      <h2>Recién tramitadas</h2>
      <p>Son las propuestas que acaban de ser tramitadas. Mira lo que se decidió en el congreso y lo que decidió la gente a través de la web.</p>
    </header>
    <%= render :partial => 'proposals/proposal', :collection => @recently_closed %>
  </section>
</section>


