<h2><%= t(:hooray)%></h2>

<p class="confirmation-message">
  <strong>
  <% if @spokesman_change %>
    <%= t(:changed_spokesman) %>
  <% else %>
    <%= t(:chosen_spokesman) %>
  <% end %>
  </strong>
  
  <%= t :spokeman_redirect %>
</p>


<script type="text/javascript" charset="utf-8">
  var t = setTimeout("top.document.location.href = '<%= user_path current_user.spokesman %>'", 5000);
</script>

