<div class="row sign-in-wrapper">
    <div class="span4 offset1" >
      <h3>Entra en Agoraonrails</h3>
      
      <div id="social-network-account">
        <p>Puedes identificarte con una de estas redes sociales. </p>
        <p class="">
          <% ["twitter", "facebook"].each do |provider| %>
            <%= link_to image_tag("#{provider}.jpeg", :size => "50x50"), 
                        user_omniauth_authorize_path(provider),
                        :class => "popup", :id => "#{provider}_sign_in",
                        :"data-width" => 580, :"data-height" => 400 %>
          <% end %>
          
          <% if Rails.env.test? %>
    	      <div style="margin-bottom: 10px;">
    	        <%= identity_verification_gateway(t(:identify_with_dnie), 
    	         		  ENV["TRACTIS_API_KEY"], :action => 'tractis_authentication') %>
    	      </div>
    	    <% end %>
        </p>
        <br />
        <a href="#" class="agoraonrails-account-link">
           Entra con tu cuenta de Agoraonrails
         </a>
      </div>
      
      <div id="agoraonrails-account" style="display:none;">
        <p>Introduce tu email y tu contraseña de Agoraonrails.com</p>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), validate: true) do |f| %>
          <div class="form-inputs">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email %>
            <%= f.label :password, "Contraseña" %>
            <%= f.text_field :password %>
            <%= f.label :remember_me, "Recordarme" %>
          </div>

          <p>
            <%= link_to "¿Olvidaste tu contraseña?", "#", class: "forgot-password-link" %>
          </p>
          
          <div>
            <%= f.submit "Sign in", class: "btn" %>
          </div>
        <% end %>
        
        <a href="#" class="social-network-account-link">
          Entra a través de Twitter ó Facebook
        </a>
      </div>
      
      <div id="forgot-password" style="display:none">
        <!-- refactor with devise template -->
        <p>¿Olvidaste tu contraseña? Envíate un mensaje de restablecimiento de contraseña y comprueba tu email.</p>

        <%= form_for(resource, :as => "forgot", :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%# f.error_notification %>

          <div class="form-inputs">
            <%= f.label :norl, "Email" %>
            <%= f.text_field :email %>
          </div>
          <br />
          <div>
            <%= f.submit "Restablecer contraseña", class: "btn" %>
          </div>
          <br />
          <p><%= link_to "O entra con tu cuenta de Agoraonrails.com", "#", class: "agoraonrails-account-link" %></p>
          <p><%= link_to "Entra a través de Twitter ó Facebook", "#", class: "social-network-account-link" %></p>
          
        <% end %>
      </div>
    </div>
    <div id="signup" class="span5 offset1">
      <h3>Crea tu cuenta</h2>

      <%= form_for(resource, :as => "account", :url => registration_path(resource_name), validate: true) do |f| %>
        <%# f.error_notification %>

        <div class="form-inputs">
          <%= f.label :name, "Nombre" %>
          <%= f.text_field :name %>
          <%= f.label :jarl, "Email" %>
          <%= f.text_field :email %>
          <%= f.label :password, "Contraseña" %>
          <%= f.text_field :password %>
        </div>
        <br />
        <div>
          <%= f.submit "Sign up", class: "btn" %>
        </div>
      <% end %>
    </div>
  </form>
</div>
