<div class="row sign-in-wrapper">
    <div class="one-whole">
      <h3 class="gamma">Entra en Agoraonrails</h3>
      <!-- Social Login
      ================================================== -->
      <div id="social-network-account" class="social-login one-half float--left">
        <div class="row three-quarters">
         <fieldset>
          <legend>Entra con Twitter o Facebook</legend>
          <% ["twitter", "facebook"].each do |provider| %>
            <%= link_to 'Conéctate usando ' + provider,
                        user_omniauth_authorize_path(provider),
                        :class => "btn btn--gamma btn--#{provider} btn--blck text--center mb1 popup", :id => "#{provider}_sign_in",
                        :"data-width" => 580, :"data-height" => 400 %>
          <% end %>
          </fieldset>
          <% if Rails.env.test? %>
    	      <div class="mt1">
    	        <%= identity_verification_gateway(t(:identify_with_dnie),
    	         		  ENV["TRACTIS_API_KEY"], :action => 'tractis_authentication') %>
    	      </div>
    	    <% end %>
        </div>
      </div>


      <div id="agoraonrails-account" class="agora-login one-half float--right">
      <!-- Agora Login
      ================================================== -->
        <fieldset>
          <legend>Entra con tu cuenta Agora</legend>
           <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), validate: true) do |f| %>
            <div class="login-agora one-whole">
              <%= f.label :email, "Email",:class=>"in-temp-hide" %>
              <%= f.text_field :email,:class=>"text-input text-input--large one-whole",:placeholder => "Email" %>
              <%= f.label :password, "Contraseña",:class=>"in-temp-hide" %>
              <%= f.password_field :password,:class=>"text-input text-input--large one-whole mt1",:placeholder => "Contraseña" %>
            </div>
            <div class="row text--right one-whole">
              <div class="row mt1">
                <%= link_to "¿Olvidaste tu contraseña?", "#", class: "forgot-password-link" %>
                <%= f.submit "Sign in", class: "btn btn--large btn--primary" %>
              </div>
            </div>
        <% end %>
        </fieldset>

        <!-- Forgot pass form
        ================================================== -->
        <div id="forgot-password" class="forgot-password">
        <!-- refactor with devise template -->
          <fieldset>
           <legend>Reestablece tu contraseña</legend>

           <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
           <%# f.error_notification %>

            <div class="forgot-password-form">
              <%= f.label :email, "Email",:class=>"in-temp-hide" %>
              <%= f.text_field :email,:class=>"text-input text-input--large one-whole",:placeholder=>"Introduce tu email y te envíamos instrucciones" %>
            </div>
            <div class="row text--right one-whole mt1">
              <%= f.submit "Restablecer contraseña", class: "btn btn--large btn--primary" %>
            </div>
          </fieldset>
          <% end %>
        </div>
     
        <!-- Signup form
        ================================================== -->
        <div id="signup">
          <fieldset>
            <legend>Crea tu cuenta</legend>
              <%= form_for(resource, :as => "account", :url => registration_path(resource_name), validate: true) do |f| %>
              <%# f.error_notification %>
              <div class="signup-form">
                <%= f.label :name, "Nombre",:class=>"in-temp-hide" %>
                <%= f.text_field :name, :class=>"text-input text-input--large one-whole mt1",:placeholder => "Nombre" %>
                <%= f.label :email, "Email",:class=>"in-temp-hide" %>
                <%= f.text_field :email,:class=>"text-input text-input--large one-whole mt1",:placeholder => "Email" %>
                <%= f.label :password, "Contraseña",:class=>"in-temp-hide" %>
                <%= f.password_field :password,:class=>"text-input text-input--large one-whole mt1",:placeholder => "Contraseña" %>
              </div>

              <div class="row one-whole mt1 text--right">
                <%= f.submit "Sign up", class: "btn btn--large btn--primary"  %>
              </div>
            <% end %>
          </fieldset>
        </div>    
      </div>
    </div>




      
    
