<article class="proposal">
  <section class="proposal-content">
    <header>
      <hgroup>
        <h2 class="title"><%= link_to awesome_truncate(proposal.title, 150), proposal %></h2>
        <h3>
          Presentado por: <%= link_to proposal.proposer.name, proposal.proposer, :class => "proposer" %>
          el <span class="proposed_at"><%= l proposal.proposed_at, :format => :long %></span>
        </h3>
      </hgroup>
    </header>
  </section>
    <% if proposal.closed? %>
    <section class="vote-results documents-list voters">
      <dl>
        <dt class="accessible"><strong>Resultados de la popular</strong></dt>
        <dd>
          <%= render :partial => "shared/results", :locals => {:proposal => proposal, :width => 40} %>
        </dd>
      </dl>
    </section>
    <% else %>
    <section class="voters">
      <%= link_to vote_text(proposal), proposal, :class => "vote-link" %>
    </section>
    <% end %>
  <span class="decorate up"></span>
</article>