<article class="proposal">
  <section class="proposal-content">
    <header>
      <hgroup>
        <h2><%= link_to awesome_truncate(proposal.title, 150), proposal %></h2>
        <p>
          <%= t(:proposed_by_html, :proposer => link_to(proposal.proposer.name, proposal.proposer, :class => "proposer")) %> 
          <span class="proposed_at"><%= t(:on_html, :date => l(proposal.proposed_at, :format => :long)) %></span>
        </p>
      </hgroup>
    </header>
  </section>

    <% if proposal.closed? %>
    <section class="voters">
      <span class="solved-icon"> </span>
      <p class="solved">
        <span class="status"> <%= proposal.status %></span> <%= t(:in_congress) %>.</p>
      <section class="vote-results documents-list voters">
        <dl>
          <dt><strong><%= t :popular_vote_results %></strong></dt>
          <dd>
            <%= render :partial => "shared/results", :locals => {:proposal => proposal, :width => 40} %>
          </dd>
        </dl>
      </section>
    </section>
    <% else %>
    <section class="text--right ">
      <%= link_to proposal, :class => "btn btn--gamma btn--soft btn--primary" do %>
        <strong><%= t(:vote_prompt) %></strong>
        <%= who_did_vote(proposal) %>
      <% end %>
    </section>
    <% end %>
  
</article>