<h1>New proposal</h1>

<%= form_for(@proposal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :official_url %><br />
    <%= f.text_field :official_url %>
  </p>
  <p>
    <%= f.label :proposal_type %><br />
    <%= f.text_field :proposal_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', proposals_path %>