<%= render 'opengraph' %>

<% @title = "#{awesome_truncate(@proposal.title, 100)}" %>

<div class="proposals">
  
  <article class="proposal" id="proposal_<%= @proposal.id %>">
    
    <section class="proposal-content">
      <!-- Body of proposal
      ================================================== -->
      <h2 class="proposal-title"><%=h @proposal.title %></h2>
      <p class="proposal_type">
        <%=h @proposal.proposal_type %> 
        <%= link_to t(:official_link), @proposal.official_url, :class => 'official_url' %>
      </p>
      <!-- Footer of proposal
      ================================================== -->
      <div class="wrap cf separator--top">
      <%= show_toggle_button(current_user.is_admin?) if current_user %>
        <ul class="list meta float--right cf">
          <li>
            <small class="icon-heart icon-red icon-min"></small>
            <%= number_with_delimiter @proposal.votes.count %> <%= t(:votes) %>
          </li>
          <li>
            <small class="icon-eye-open icon-min"></small>
            <%= number_with_delimiter @proposal.visits %> <%= t(:views) %>
          </li>
        </ul>
      </div>

      <!-- Votation system
      ================================================== -->

      <% if @proposal.closed? %>
        <p class="solved">
          <%= show_closed_text %>
        </p>
      <% elsif current_user && current_user.has_voted_for?(@proposal) %>
        <p class="voted">
          <%= t :already_voted %>
        </p>
        <%= render 'proposals/share' %>
      <% else %>
        <%= render 'proposals/form' %>
	    <% end %>
    </section>
  </article>
  <!-- Finish the proposal
  ================================================== -->
  <!-- Begins the related content this proposal
  ================================================== -->
    
  <div class="proposal-graphic"> 
      <section class="vote-results documents-list">
        <h5 class="flush"><%= t(:popular_vote)%></h5>
        <%= render :partial => "shared/results", :locals => {:proposal => @proposal, :width => 20} %>
      </section>

      <div class="votes_with_explanations">
        <%= render :partial => "vote", :collection => @proposal.votes.order_by_represented_users %>
      </div>
    </section>
    <!-- Begin tags
    ================================================== -->
    <% if @proposal.category.present? %>
    <div class="tags">
      <h5 class="flush"><%= t(:related_with)%></h5>
        <ul class="block-list">
          <li class="block-list--cln">
            <%= link_to @proposal.category.name, [@proposal.category, :proposals], :title => @proposal.category.name, :class => "tags-item" %>
          </li>
        </ul>
    </div>
    <% end %>
  </div>

</div>
