<% @title = "#{awesome_truncate(@proposal.title, 100)}" %>
<section id="content">
  <ul id="breadcrumb">
    <li><a href="/">Inicio »</a></li>
    <li><%= link_to "Proposiciones", proposals_path %></li>
  </ul>
  <article class="proposal">
    <section class="proposal-content">
      
      <header>
        <hgroup>
          <h2 class="title"><%=h @proposal.title %></h2>
          <h3 class="proposal_type">
            <%=h @proposal.proposal_type %> (<a class="official_url" href="<%= @proposal.official_url %>">Enlace oficial</a>)
          </h3>
        </hgroup>
        <ul class="meta">
          <li class="votes"><%= number_with_delimiter @proposal.votes.count %> votos</li>
          <li class="views"><%= number_with_delimiter @proposal.visits %> visitas</li>
        </ul>
      </header>
      
      
      <% if @proposal.closed? %>
        <p class="solved">La Propuesta fué <span class="official_resolution"> <%= @proposal.official_resolution %></span> en el Congreso.</p>
      <% elsif current_user && current_user.has_voted_for?(@proposal) %>
        <p class="voted">Ya has votado esta propuesta</p>
      <% else %>  
        <% form_tag new_proposal_vote_path(@proposal), {:method => :get, :class => "vote"} do -%>
          <fieldset>
            <strong>Vota esta propuesta</strong>
            <div>
            	<%= label_tag :explanation, "Explica tu opinión (opcional)" %><br/>
						  <%= text_area_tag :explanation, nil, :size => "40x5" %>
						</div>
						<div>
							<%= label_tag :link, "Enlace (opcional)" %><br/>
						  <%= text_field_tag :link, nil, :size => "40" %>
						</div>
						<br/>
            <button type="submit" name="value" value="si" class="si"><span>Sí</span></button>
            <button type="submit" name="value" value="no" class="no"><span>No</span></button>
            <button type="submit" name="value" value="abstencion" class="abstencion"><span>Abstencion</span></button>
          </fieldset>
        <% end -%>
		
		<% if @opinion %>
			<% if current_user.represented_organization.has_opined_for?(@proposal) %>
				<p class="voted"><%= current_user.represented_organization.name %> ya ha opinado sobre esta propuesta.</p>
			<% else %>
				<% form_for Vote.new, :url => new_vote_path, :html => {:method => :get} do |f| -%>
				  <fieldset>
		            <strong>Vota como representante de <%= @opinion.organization.name %></strong>
					<div>
						<%= f.label :explanation, "Explica tu opinión" %><br/>
						<%= f.text_area :explanation %>
					</div>
					<p>
						<%= f.label :link, "Enlace" %><br/>
						<%= f.text_field :link %>
					</p>
					<%= f.hidden_field :proposal_id, :value => @proposal.id %>
					<%= f.hidden_field :organization_id, :value => @opinion.organization.id %>
		            <button type="submit" name="value" value="si" class="si" id="representant_vote_yes">	
						<span>Sí</span></button>
		            <button type="submit" name="value" value="no" class="no" id="representant_vote_no">
						<span>No</span></button>
		            <button type="submit" name="value" value="abstencion" class="abstencion"
						id="representant_vote_abstention">
						<span>Abstencion</span></button>
		          </fieldset>
				<% end %>
			<% end %>
		<% end %>
	<% end %>      
      <section class="vote-results documents-list">
        <dl>
          <dt><strong>Votación popular</strong></dt>
          <dd>
            <%= render :partial => "shared/results", :locals => {:proposal => @proposal, :width => 20} %>
          </dd>
        </dl>
      </section>
      
      <!-- 
      <section class="documentation documents-list">
        <dl>
          <dt><strong>Documentación</strong></dt>
          <dd>
            <ul>
              <li><a href="#">BOCG. B-213-1 de 04/12/2009</a> <span>iniciativa</span></li>
              <li><a href="#">BOCG. B-213-1 de 04/12/2009</a> <span>iniciativa</span></li>
              <li><a href="#">BOCG. B-213-1 de 04/12/2009</a> <span>iniciativa</span></li>
            </ul>
          </dd>
        </dl>
      </section>
    
      <section class="sessions documents-list">
        <dl>
          <dt><strong>Diario de sesiones</strong></dt>
          <dd>
            <ul>
              <li><a href="#">BOCG. B-213-1 de 04/12/2009</a> <span>iniciativa</span></li>
              <li><a href="#">BOCG. B-213-1 de 04/12/2009</a> <span>iniciativa</span></li>
              <li><a href="#">BOCG. B-213-1 de 04/12/2009</a> <span>iniciativa</span></li>
            </ul>
          </dd>
        </dl>
      </section>
      -->
    </section>
    <% unless @proposal.category.blank? %>
    <dl class="tag_list" id="related">
      <dt><strong>Relacionada con</strong></dt>
      <dd>
        <ul>
          <li class="related">
            <%= link_to @proposal.category.name, [@proposal.category, :proposals], :title => @proposal.category.name %>
          </li>
        </ul>
      </dd>
    </dl>
    <% end %>
    
    <span class="decorate up"></span>
    <span class="decorate down"></span>
  </article>
  
</section>