<%= render 'opengraph' %>

<% @title = "#{awesome_truncate(@proposal.title, 100)}" %>

<section id="content">
  <%= render "layouts/navigation" %>
  <article class="proposal" id="proposal_<%= @proposal.id %>">
    <section class="proposal-content">

      <header>
        <hgroup>
          <h2 class="title"><%=h @proposal.title %></h2>
          <h3 class="proposal_type">
            <%=h @proposal.proposal_type %> 
            <%= link_to t(:official_link), @proposal.official_url, :class => 'official_url' %>
          </h3>
        </hgroup>
        <%= show_toggle_button(current_user.is_admin?) if current_user %>
        <ul class="meta">
          <li class="votes">
            <%= number_with_delimiter @proposal.votes.count %> <%= t(:votes) %>
          </li>
          <li class="views">
            <%= number_with_delimiter @proposal.visits %> <%= t(:views) %>
          </li>
        </ul>
      </header>


      <% if @proposal.closed? %>
        <p class="solved">
          <%= show_closed_text %>
        </p>
      <% elsif current_user && current_user.has_voted_for?(@proposal) %>
        <p class="voted">
          <%= t :already_voted %>
        </p>
        <%= render 'proposals/share' %>
      <% else %>
        <%= render 'proposals/form' %>
	    <% end %>
	    
      <section class="vote-results documents-list">
        <dl>
          <dt>
            <strong><%= t(:popular_vote)%></strong>
          </dt>
          <dd>
            <%= render :partial => "shared/results", :locals => {:proposal => @proposal, :width => 20} %>
          </dd>
        </dl>
      </section>

      <p class="votes_with_explanations">
        <%= render :partial => "vote", :collection => @proposal.votes.order_by_represented_users %>
      </p>
    </section>
    
    <% if @proposal.category.present? %>
    <dl class="tag_list" id="related">
      <dt>
        <strong><%= t(:related_with)%></strong>
      </dt>
      <dd>
        <ul>
          <li class="related">
            <%= link_to @proposal.category.name, [@proposal.category, :proposals], :title => @proposal.category.name %>
          </li>
        </ul>
      </dd>
    </dl>
    <% end %>

    <span class="decorate up"></span>
    <span class="decorate down"></span>
  </article>

</section>
