<section id="organizations_list">
	<header>
		<h2>Organizaciones presentes en Populo</h2>
		<p>
			Algunas organizaciones están presentes en Populo. Puedes delegar tu voto en ellas para
			las propuestas en las que no votes directamente.
		</p>
	</header>
	<% for organization in @organizations do %>
		<article class="organization">
			<header>
				<h3 class="name"><%= organization.name %></h3>
			</header>
			
			<p class="description"> <%= organization.description %></p>
			<p class="link"> <%= organization.link %></p>
			<section class="spokesman">
				<p class="name"><%= organization.spokesman.name %></p>
			</section>
		</article>
	<% end %>
</section>	
<p><%= link_to "Quiero dar de alta a otra organizacion en Populo", new_organization_path %></p>
