<div>
  <h3><%= t(:review_vote)%></h3>

  <p class="confirmation-message">
    <strong><%= confirmation_text(params[:value]) %></strong>
    <%= t(:the_proposal, :title => @proposal.title) %>
    <p>Si quieres puedes a침adir una explicaci칩n y un link con m치s informaci칩n.</p>
    <%= simple_form_for([@proposal, @vote]) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs text-center">
        <%= f.input :explanation, required: false, autofocus: true, as: :text, input_html:  { rows: 3 , class: "span6"}  %>
        <%= f.input :value, :value => params[:value], as: :hidden %>
      </div>
      <br />
      <p class="actions">
        <button type="submit" class="confirm"><span><%= t(:i_am_sure) %></span></button>
        <%= t(:or_well)%> 
        <%= link_to t(:think_more), proposal_path(@proposal), class: "oh-no" %>
      </p>
    <% end %>    
  </p>
</div>