<h2>Autenticación con DNIe requerida</h2>

<section id="login-section">
  <div style="margin-bottom: 10px;">
    <%= identity_verification_gateway("Identifícate con tu DNIe", ENV["TRACTIS_API_KEY"], :action => 'authenticate') %>
  </div>
  
  <% if Rails.env != 'production' %>
    <%= form_tag user_session_path do %>
      <p>o haz tongo creando una identidad falsa...</p>
      <p>
      <%= label_tag 'falso nombre'%>
      <%= text_field_tag 'name' %>
      </p>
      <%= submit_tag 'Haz tongo aquí'%>
    <% end %>
  <% end %>
</section>