<!-- refactor styles -->
<h2 style="margin-left:40px"><%= t(:auth_required)%></h2>

<section id="login-section" style="margin-left:20px">
  <p>Puedes identificarte con una de estas redes sociales. </p>
  <p>
    <% ["twitter", "facebook"].each do |service| %>
      <%= link_to image_tag("#{service}.jpeg", :size => "50x50"), "/auth/#{service}",
                    :class => "popup", :"data-width" => 580, :"data-height" => 400 %>
    <% end %>
  </p>

  <%= form_for User.new, :url => user_session_path do |f| %>
    <fieldset>
      <%= f.error_messages %>
  
      <p style="margin-bottom:-15px;margin-left:5px">ó utilizando tu nombre de usuario. </p>
      <div class="overlayfield">
        <%= f.label :login, "<span>Introduce tu usuario</span>".html_safe %>
        <%= f.text_field :name %>
      </div>
  
      <div class="overlayfield">
        <%= f.label :password, "<span>Dinos tu contraseña</span>".html_safe %>
        <%= f.password_field :password %>
      </div>
    
      <div style="font-size:12px;padding:0px 10px 10px 5px">
        <%= f.check_box :name %> <%= f.label :remember_me, "Recordarme" %>
      </div>
      
      <p>
        <button type="submit" class="login" id="user_session_submit"><span>Identifícate</span></button>
      </p>

      <% if Rails.env.test? %>
        <div style="margin-bottom: 10px;">
          <%= identity_verification_gateway(t(:identify_with_dnie), ENV["TRACTIS_API_KEY"], :action => 'authenticate') %>
        </div>
      <% end %>
    </fieldset>
  <% end %>
</section>

<section id="login-register">
  <p>Para poder votar necesitas estar registrado. </p>
  <p>
    <a href="<%= new_user_path %>">
      <button class="register"><span>Regístrate!!</span></button>
    </a>
  </p>
</section>
  