<h2>Autenticación requerida</h2>

<section id="login-section">
  <% form_for @user_session, :url => user_session_path do |f| %>
    <fieldset>
      <%= f.error_messages %>
  
      <p class="overlayfield">
        <%= f.label :dni, "<span>Introduce tu DNI</span>" %>
        <%= f.text_field :dni %>
      </p>
  
      <p class="overlayfield">
        <%= f.label :password, "<span>Dinos tu contraseña</span>" %>
        <%= f.password_field :password %>
      </p>
    
      <!--
        <%= f.check_box :remember_me %><%= f.label :remember_me %>
      -->
      
      <p>
        <button type="submit" class="login"><span>Identificate</span></button>
      </p>
    </fieldset>
  <% end %>
</section>

<section id="login-register">
  <p>Para poder votar necesitas estar registrado. </p>
  <p>
    <a href="#">
      <button class="register"><span>Regístrate!!</span></button>
    </a>
  </p>
</section>