<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
  <title><%= "#{@title} -" unless @title.blank? %> AgoraOnRails</title>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <%= include_gon %>
  <%= stylesheet_link_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <% if import_bootstrap? %>
    <%= stylesheet_link_tag "boot" %>
  <% end %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

  <a href="#content" class="accessible">Saltar al contenido</a>

  <div id="wrap">
    <div id="wrap-inner">
      <!-- HEADER
      ================================================== -->
      <header class="main-header">
        <%= render "layouts/navigation" %>
      </header>
      <div class="wrap-fit">
        
        <div class="main-bar">
          <% if current_user %>
            <p>
              <%= t :currently_logged_as, :name => current_user.name %>
              <%= link_to t(:want_to_sign_out), destroy_user_session_path, :method => :delete %>
             </p>
          <% end %>
        </div>

        <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %></div>
        <% end %>

        <% if home? %>
          <div class="claim island">
            <h2><%= t(:hello)%></h2>
            <p><%= t(:intro_paragraph)%></p> 
            <p><%= t :whats_agora_html, :href => link_to(APP_CONFIG['org_name'], APP_CONFIG['org_url']) %></p>
          </div>
        <% end %>
        
        <%= yield %>

        <% if controller_name == "proposals" %>
          <aside class="main-aside">
            <div class="aside-nav" >
              <h4><%= t :what_proposals %></h4>
                <ul class="block-list">
                  <% hot_categories.each_with_index do |category, index| %>
                  <li class="category">
                    <%= link_to truncate(category.name,:length => 30), [category, :proposals], 
                               :class => "name tag-#{index + 1}", 
                               :title => category.name %>
                    <span class="block-list__count">
                      <%= category.proposals_count %>
                    </span>
                  </li>
                  <% end %>
                </ul>
            </div>

            <div class="aside-nav" >
              <h4><%= t :who_proposed %></strong></h4>
                <ul class="block-list">
                  <% hot_proposers.each_with_index do |proposer, index| %>
                  <li>
                    <%= link_to truncate(proposer.name, :length => 30), [proposer, :proposals], 
                               :class => "name tag-#{index + 1}", 
                               :title => proposer.name %>
                    <span class="block-list__count">
                      <%= proposer.proposals_count %>
                    </span>
                  </li>
                  <% end %>
                </ul>
            </div>

          </aside>
        <% end %>

      </div>
    </div>
  </div>

  <footer>
    <div class="wrap-fit">
      <section id="total-votes">
        <strong><%= number_with_delimiter Vote.count %></strong> 
        <%= t :votes_through_agora %></section>
    </div>
  </footer>
  
  <%= javascript_include_tag "application" %>
  <% if controller_name == "users" and action_name == "show" %>
    <%= javascript_include_tag "tree" %>
  <% end %>
  <%= render :partial => "shared/google_analytics" if Rails.env == 'production' %>
</body>
</html>
