<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
  <title><%= "#{@title} -" unless @title.blank? %> AgoraOnRails</title>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/stylesheets/populo.css" type="text/css" media="screen" charset="utf-8"/>
  <!--[if lte IE 6]>
    <link rel="stylesheet" href="/stylesheets/populo-ie.css" type="text/css" media="screen" charset="utf-8"/>
  <![endif]-->
  <script src="/javascripts/html5.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.tools.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <a href="#content" class="accessible">Saltar al contenido</a>

  <div id="wrap">
    <div id="wrap-inner">
      <div class="wrap-fit">
    
        <section id="header">
          <header>
          </header>
          <% if current_user %>
            <nav id="user-nav">
              <ul>
                <li>Estoy logueado y <%= link_to "quiero salir", user_session_path, :method => "delete" %></li>
              </ul>
            </nav>
          <% end %>
        </section>
        
        <% if flash[:notice] %>
        <div class="flash"><%= flash[:notice] %></div>
        <% end %>
        
        <%= yield %>
      
        <aside>
          <dl class="tag_list" id="categories">
            <dt><strong>¿De qué se habla?</strong></dt>
            <dd>
              <ul>
                <% hot_categories.each_with_index do |category, index| %>
                <li class="category">
                  <%= link_to category.name, [category, :proposals], :class => "name tag-#{index + 1}", :title => category.name %>
                  <span class="count">
                    <%= category.proposals_count %>
                  </span>
                </li>
                <% end %>
              </ul>
            </dd>
          </dl>

          <dl class="tag_list" id="proposers">
            <dt><strong>¿Quién propone?</strong></dt>
            <dd>
              <ul>
                <% hot_proposers.each_with_index do |proposer, index| %>
                <li class="proposer">
                  <%= link_to proposer.name, [proposer, :proposals], :class => "name tag-#{index + 1}", :title => proposer.name %>
                  <span class="count">
                    <%= proposer.proposals_count %>
                  </span>
                </li>
                <% end %>
              </ul>
            </dd>
          </dl>

        </aside>
      
      </div>
    </div>
  </div>

<footer>
  <div class="wrap-fit">
    <section id="total-votes"><strong><%= number_with_delimiter Vote.count %></strong> votos a través de AgoraOnRails</section>
    <p>Proyecto desarrollado a partir de <a href="http://populo.heroku.com/">Populo</a></p>
  </div>
</footer>

  <div id="overlay">
    <div id="overlay-inner">
      <iframe name="overlay"></iframe>
    </div>
  </div>

</body>
</html>
