<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
  <title><%= "#{@title} -" unless @title.blank? %> AgoraOnRails</title>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <%# stylesheet_link_tag "pages" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

  <div id="wrap">
    <div id="wrap-inner">
      <div class="wrap-fit">
        
        <section id="header">
          <% if current_user %>
            <nav id="user-nav">
              <ul>
                <li>
                  <%= t :currently_logged_as, :name => current_user.name %>
                  <%= link_to t(:want_to_sign_out), destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </nav>
          <% end %>
        </section>

        <% flash.each do |key, value| %>
          <p class="<%= key %> text-center"><%= value %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
  
  <%= javascript_include_tag "application" %>
  <%= yield :custom_javascript %>
  <%= render :partial => "shared/google_analytics" if Rails.env == 'production' %>
</body>
</html>
